.cp-header {
  font-size: 32px;
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
.cp-word-breakeable {
  word-break: break-all;
}
.cp-link {
  color: #2f8dfa;
  cursor: pointer;
  &:hover {
    color: #1975e0;
    text-decoration: underline;
  }
}
